/* General styling for the pattern */
.pattern {
  margin-top: -320px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #131313;
  zoom: 1.5;
}

.pattern ul {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: rotate(-26deg) skew(26deg);
}

.pattern ul li {
  position: relative;
  list-style: none;
  width: 120px;
  height: 120px;
  margin: 10px 10px;
  transition: background 0.9s ease;
}

.pattern ul:nth-child(1){
  margin: 0px 200px 0px 0px ;
}

.pattern ul:nth-child(2){
  margin: -20px 200px 0px 60px ;
}

.pattern ul:nth-child(3){
  margin: -20px 200px 0px 100px ;
}

.pattern ul:nth-child(4){
  margin: -20px 200px 0px 145px ;
}

.pattern ul:nth-child(5){
  margin: -20px 200px 0px 190px ;
}

.pattern ul:nth-child(6){
  margin: -20px 200px 0px 235px ;
}

.pattern ul:nth-child(7){
  margin: -20px 200px 0px 285px ;
}

.pattern ul:nth-child(8){
  margin: -20px 200px 0px 330px ;
}

.pattern ul:nth-child(9){
  margin: -20px 200px 0px 380px ;
}

.pattern ul:nth-child(10){
  margin: -20px 200px 0px 425px ;
}

.pattern ul li::before,
.pattern ul li::after {
  content: '';
  position: absolute;
  background: #2a2a2a;
}

.pattern ul li::before {
  bottom: -40px;
  left: 28px;
  width: 81px;
  height: 16.5px;
  transform-origin:bottom;
  transform: skewX(-33deg) skewY(3deg)
             rotateZ(17.5deg) 
             translateX(-86px) translateY(-10px) ;
}

.pattern ul li::after {
  top: 28px;
  bottom: 15px;
  left: -15px;
  width: 17px;
  height: 60px;
  transform-origin:right;
  transform: skewY(-49deg);
}

/* Span styles */
.pattern ul li #hexa{
  margin: 75px 0px 0px 50px;
  background-color: #222222;
  width: 60px;
  height: 8px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: skewY(-26.5deg) 
             translateX(2px) 
             translateY(34px)
             skewX(-65deg);
} 

.pattern ul li span {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.2);
  transition: all 0.6s ease;
  background: #222222;
  font-size: 30px !important;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.pattern ul li span::before,
.pattern ul li span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.pattern ul li span::before {
  top: -500px;
  left: -17px;
  width: 18px;
  height: 70px;
  background: #2a2a2a;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.pattern ul li span::after {
  bottom: -20px;
  left: -10px;
  height: 20px;
  background: #2a2a2a;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.pattern ul li:hover span {
  z-index: 0;
  color: #fff;
}

.pattern ul li:hover span:nth-child(5) {
  transform: translate(35px, -35px);
  background: #1c1b1b;
  z-index: 1003;
}

.pattern ul li:hover span:nth-child(4) {
  transform: translate(25px, -25px);
  z-index: 1002;  
  background: #2a2a2a;
}

.pattern ul li:hover span:nth-child(3) {
  transform: translate(15px, -15px);
  background: #2a2a2a;
}

.pattern ul li:hover span:nth-child(2) {
  transform: translate(5px, -5px);
  background: #2a2a2a;
  z-index: 1001;
}

.pattern ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  background: #2a2a2a;
}

.pattern ul li.facebook:hover span:nth-child(5) {
  background: #3b5999;
}

.pattern ul li.instagram:hover span:nth-child(5) {
  background: #e4405f;
}

.pattern ul li.twitter:hover span:nth-child(5) {
  background: #55acee;
}

.pattern ul li.reddit:hover span:nth-child(5) {
  background: #ff5700;
}

.pattern ul li.whatsapp:hover span:nth-child(5) {
  background: #25D366;
}
