@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Diphylleia&family=Michroma&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Jura:wght@300..700&family=Michroma&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

.scroll-snapping-page {
  --color-background: black;
}

/* Now prefix selectors like this: */
.scroll-snapping-page html {
  scroll-snap-type: y mandatory;
}
.scroll-snapping-page .section {
  scroll-snap-align: start;
}
/* ...and so on for the rest */

/* Makes the Selected Text Transparent in the Browser */
/* ::selection {
  background-color: transparent; 
  color: transparent; 
  background-clip: text;
  -webkit-background-clip: text; 
  background-image: linear-gradient(90deg, #3b82f6, #8b5cf6);
}
::-moz-selection {
  background-color: transparent;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  background-image: linear-gradient(90deg, #3b82f6, #8b5cf6);
} */

.font-michroma {
  font-family: "Michroma", sans-serif;
}

.font-jura {
  font-family: "Jura", sans-serif;
}

.blurAnimated {
  animation: blurFadeIn 1.5s ease forwards;
}

@keyframes blurFadeIn {
  0% {
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.autoBlur {
  animation: blur linear both;
  animation-timeline: view();
}

@keyframes blur {
  0% {
    filter: blur(40px);
    opacity: 0;
    transform: translateY(40px);
  }
  45%,
  55% {
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    filter: blur(40px);
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.3s ease-out forwards;
  opacity: 0;
}

/* Website Stack Component */

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #ffffff 10% 90%,
    transparent
  );
}

.slider .list {
  display: flex;
  margin-top: 8px;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider:hover .item {
  animation-play-state: paused !important;
}

.slider .list .item img {
  width: 100%;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%; /* At initial to the left most side */
  animation: corosal var(--time) linear infinite;
  animation-delay: calc(
    var(--time) / var(--quantity) * (var(--position) - 1) - 48s
  );
}

@keyframes corosal {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

/* Reverse Corosal */
.slider[reverse="true"] .item {
  animation: reverse_corosal var(--time) linear infinite;
  animation-delay: calc(
    var(--time) / var(--quantity) * (var(--position) - 1) - 48s
  );
}

@keyframes reverse_corosal {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}



/* Web Hero Section */

@keyframes gradient-move {
  to {
    background-position: 300% center;
  }
}

.animate-gradient {
  background-size: 300% auto;
  animation: gradient-move 10s linear infinite;
}
